body {
  color: red
}
.button {
  font-family: impact;
  color: #000000 !important;
  font-size: 14px;
  text-shadow: 1px 1px 0px #FFFFFF;
  box-shadow: 5px 5px 7px #8A8A8A;
  padding: 8px 35px;
  border-radius: 5px;
  border: 2px solid #8C99A3;
  background: #8A8A8A;
  background: linear-gradient(to top, #8A8A8A, #ECECEE);
}
.testbutton:hover {
  color: #14396A !important;
  background: #000000;
  background: linear-gradient(to top, #000000, #FFFFFF);
}
